<template>
  <v-container class="grey lighten-5">
    <v-row
      class="mb-6"
      justify="center"
      no-gutters
    >
      <v-col xs="12">
        <v-card>
           <v-date-picker 
           v-model="fecha" 
           full-width 
           dark
           locale="es-Co"
           :min='minimo'
           :max='maximo'
           @change="getDolar(fecha)"
           >

           </v-date-picker>
        </v-card>
        <v-card 
        color="dark" 
        dark>
          <v-card-text 
          class="display-1 text-center"
          >
          {{valor}}
          </v-card-text>
        </v-card>
      </v-col>
     
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import  axios  from "axios";
import {mapMutations} from "vuex"

export default {
  name: 'home',
  data(){

    return{
    fecha:new Date().toISOString().substr(0, 10),
    minimo:"1984",
    maximo:new Date().toISOString().substr(0, 10),
    valor: null
    }
  },
  methods: {

    ...mapMutations(['mostrarLoading','ocultarLoading']),

    async getDolar(dia){
      try {

        this.mostrarLoading({titulo:'Accediendo a informacion', color:'secondary'})

        let datos = await axios.get(`https://www.datos.gov.co/resource/32sa-8pi3.json?vigenciadesde=${dia}T00:00:00.000`)
        
        if(datos.data.length > 0){
          console.log(datos.data[0].valor);
          this.valor = await datos.data[0].valor
        }else{
          this.valor = " Sin Resultados "
        }
        

      } catch (error) {

        console.log("error");

      }
      finally{

        this.ocultarLoading()

      }
     
    }
  },
  created() {
    this.getDolar(this.fecha);
  },
  
}
</script>
